<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boodschappen Aanbiedingen Scanner</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <!-- header section begint-->
<header class="header">

    <a href="#" class="logo"> <i class="fas fa-shopping-basket"></i>BAS</a>

    <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#supermarkten">Supermarkten</a>
        <a href="#contact">Contact</a>
        <a href="#over">Over</a>
    </nav>

    <div class="icons">
        <div class="fas fa-bars" id="menu-btn"></div>
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
        <div class="fas fa-user" id="login-btn"></div>
    </div>
    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="Zoek uw producten...">
        <label for="search-box" class="fas fa-search"></label>
    </form>


</header>


    <!-- header section eindigt-->
    
    <form action="receive" method="POST">
        </div>
        <div class="form-group">
          <label for="document-content">Vul hier uw boodschappen in</label>
          <input type="text" id="document-content" name="lijst" value="test">
          <input type="submit" class="float" value="submit"> 
        </div>
      </form>
  
  <div id="searchOutput"></div>
  <div id=TopDrie> 
    <p>De goedkoopste supermarkten voor uw product(en) zijn:</p>
    <div id="scroll">
      <%- locals.top3 %>
    </div>
  </div>

  



  <script>

    /*function getInput() {
      boodschappenlijst = document.getElementById('document-content').value;
      test(boodschappenlijst);
    }

    //boodschappenlijst = document.getElementById('document-content').innerHTML;
    
    async function test(boodschappenlijst) {
      const data = {a: boodschappenlijst};

      const response = await fetch("index", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      });
      
      const result = await response.json();
      setError(result.message);
    }
    
    async function getData() {
			const response = await fetch("/api");
			const data = await response.json();
			document.getElementById("my-output").innerHTML = data.message;
		}
    
    
  </script>  
</body>
</html>
